owner:
  name: "Your Name"  # The name of the owner of the encrypted files.
  email: "Your Email"  # The owner's email, used for notifications.

# Configuration for countdown mechanism (uncomment to use)
# countdown_days: 30  # Number of days before the countdown expires.
# countdown_file: files/countdown.json  # Path to store countdown status.
# pem_folder: files/pem  # Folder containing private keys for decryption.
# input_folder: files/input  # Folder where unencrypted files are placed.
# encrypted_folder: files/encrypted  # Folder to store encrypted files.
# decrypted_folder: files/decrypted  # Folder to store decrypted files after decryption.

smtp:
  server: "smtp.example.com"  # SMTP server address for sending emails.
  port: 465  # SMTP server port (use 465 for SSL, 587 for TLS).
  user: "your-email@example.com"  # Email address used to send notifications.
  password: "your-password"  # Password for the SMTP server (consider using environment variables for security).

trust_people:
  user1:
    email: user1@mail.com  # Email of a trusted person.
    ssh_public_key: "ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEArUfr5v5XzX5NzeA== user@hostname"  # Their SSH public key for accessing encrypted files.
  user2:
    email: user2@mail.com  # Email of another trusted person.
    ssh_public_key: "ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEArUfr5v5XzX5NzeA== user@hostname"  # Their SSH public key.
